{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}

<div class="container hero-section">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/images/hero-bg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="hero-name display-5 fw-bold lh-1 mb-3 mt-5 clr-white text-center">Kshamanidhi Bhardwaj</h1>
            <div class="psuedo-body">
                <div class="text-box">
                    <p> Hello every one I am Kshamanidhi Bhardwaj <br>UI/UX Designer and A Concept Artist <br>
                        Student at NIT Raipur, B.Tech 5th Semester <br>
                        This is my Portfolio website.</P>
    </div>

</div>
            {% endblock body %}