{% extends 'base.html' %}
{% block title %}Visuals{% endblock title %}

{% block body %}
 <!-- Hero section -->
          <div class="container">
            <div class="container-visual">
              <div class="heading1">
                <h3>Visuals <span>Here</span></h3>
                <p>This place is where I am putting all the design work that I do like work of pleasure, sort of gallery it is I can say. Have a look and tell me how you feel about my designs.</p>
              </div>
              <div class="box1">
                <div class="dream">
                  <img src="/static/images/Visual_section/1.jpg" alt="">
                  <img src="/static/images/Visual_section/2.jpg" alt="">
                  <img src="/static/images/Visual_section/3.jpg" alt="">
                  <img src="/static/images/Visual_section/4.jpg" alt="">
                  <img src="/static/images/Visual_section/5.jpg" alt="">
                </div>
                <div class="dream">
                  <img src="/static/images/Visual_section/7.jpg" alt="">
                  <img src="/static/images/Visual_section/8.jpg" alt="">
                  <img src="/static/images/Visual_section/9.jpg" alt="">
                  <!-- <img src="./images/Visual_section/4.jpg" alt=""> -->
                  <!-- <img src="./images/Visual_section/5.jpg" alt=""> -->
                </div>
                <!-- <div class="dream">
                  <img src="./images/Visual_section/5.jpg" alt="">
                  <img src="./images/Visual_section/1.jpg" alt="">
                  <img src="./images/Visual_section/3.jpg" alt="">
                  <img src="./images/Visual_section/7.jpg" alt="">
                  <img src="./images/Visual_section/5.jpg" alt="">
                </div> -->
               
              </div>
            
              <div>
                <button type="button" class="btn btn-outline-warning my-5">Explore</button>
              </div>
            </div>
          </div>
{% endblock body %}

